/* common */
body{
  background-color: #F3F5F6;
}

.text-gray{
  color:#b8b8b8;
}

@media (max-width:768px) {
  .album-section .container{
    max-width: 100% ;
    margin: 0;
  }
}

@media (max-width:992px) {
  .navbar .container{
    max-width: 100%;
    height: 34px;
  }

  .album-section .container{
    padding: 0 !important;
  }
}

@media (min-width: 1600px){ 
  .container{
    max-width: 1500px;
  }
  .col-xl-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 20%;
    float: left;
  }
}

/* nav */
.nav1{
  position:sticky;
  top:0;
  z-index: 99;
  background-color: #202023;
  height: 50px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-brand{
  padding: 0;
  height: 34px;
}

.icon-flickr_logo_dots{
  height: 65%;
  width: 110px;
}

.nav1 .navbar-nav .nav-link{
  color: #FFFFFF;
}

.fa-search{
  position: absolute;
  font-size: 16px;
  color: #535354;
  margin-left: 10px;
}

.fa-cloud-upload{
  font-size: 24px;
}

nav .text-enter{
  cursor: pointer;
  transition: color 0.2s;
}
nav .text-enter:hover{
  color: #cfcfcf !important;
  transition: color 0.2s;
}

.nav1 form input{
  padding-left: 30px;
  background-color: #d0d0d1;
  font-size: 14px;
  border-radius: 3px;
}

.nav1 .navbar-nav .nav-item-1:hover .dropdown-menu{
  display: block;
}

.nav1 .navbar-nav .nav-item-2:hover .dropdown-menu{
  display: block;
}
	
.nav1 .navbar-nav .nav-item .dropdown-menu::after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;  
  position: absolute;
  top: -9px;
  left: 10px;
}

@media (max-width:576px) {
  .btn-register{
    margin: 0 !important;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 50px; /* adjust to height of navbar */
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 300px;
    height: 100%;
    background-color: #202023;
  }

  .navbar-collapse.collapsing {
      left: -75%;
      transition: height 0s ease;
  }

  .navbar-collapse.show {
      left: 0;
      transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: left 500ms ease-in-out;
  }

  .nav1 .navbar-nav .nav-item .dropdown-menu::after{
    display: none;
  }

  .form-control{
    display: none !important;
  }

  .fa-search{
    position: relative;
    font-size:20px;
    color: #FFF;
    margin: 0;
    cursor: pointer;
  }

  .fa-cloud-upload{
    display: none;
  }

  .btn-register{
    height: 34px;
    font-size: 14px;
    line-height: 14px;
  }
}

/* header */
.header{
  height: 250px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.user{
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.user-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-info{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 15px;
}

.user-line1{
  margin-bottom: 10px;
}

.user-name{
  line-height: 36px;
  font-size: 36px;
  margin: 0 20px 4px 0;
  color:#FFF;
}

.user-btn-follow{
  height: 32px;
  width: 84px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border: 1.5px solid #FFF;
}
.user-btn-follow:hover{
  color: #FFF;
  background-color: transparent;
  border: 1.5px solid #FFF;
}

.user-btn-mail{
  height: 32px;
  width: 50px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #FFF;
  background-color: transparent;
  border: 1.5px solid #FFF;
}
.user-btn-mail:hover{
  color: #FFF;
  background-color: transparent;
  border: 1.5px solid #FFF;
}

.user-line2{
  height: 20px;
  color: #FFF;
}

@media (max-width:768px) {
  .header{
    height: 170px;
  }

  .user{
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .user-img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
  }

  .user-btn-follow{
    position: absolute;
    right: 0;
    top:60px;
  }

  .user-btn-mail{
    display: none;
  }

  .user-name{
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }

  .user-info{
    margin: 5px 0 5px 0;
  }
  
  .user-line1{
    justify-content: center;
    margin-bottom: 2px;
  }
}

/* aside */
aside{
  position: sticky;
  top:50px;
  z-index: 9;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
}

aside .active{
  font-weight: bold;
  border-bottom: 3px solid #0090DC;
}

/* section */
section{
  min-height: 60vh;
  padding-top: 20px;
}

.album-div{
  display: flex;
  justify-content: center;
}

.album-cover{
  position: relative;
  width: 200px;
  height: 200px;
}
.album-cover::before{
  content: "";
  position: absolute;
  border: 0.5px solid #c9d0d4;
  width: 98%;
  left: 0;
  right: 0;
  margin: auto;
  top: -2px;
  transition: all 0.2s;
}
.album-cover::after{
	content: "";
	position: absolute;
	border: 0.5px solid #c9d0d4;
	width: 95%;
	left: 0;
	right: 0;
	margin: auto;
	top: -4px;
  transition: all 0.2s;
}
.album-cover:hover::before{
  border: 0.3px solid #afb7bd;
  top: -3px;
}
.album-cover:hover::after{
  border: 0.3px solid #afb7bd;
	top: -6px;
}

.album-cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-cover .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 20px;
  bottom: 0;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(11%, rgba(0, 0, 0, 0.8)), color-stop(37%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
  overflow: hidden;
  transition: all 0.2s;
}
.album-cover:hover .info{
  padding-bottom: 50px;
  transition: all 0.2s;
}

.album-cover .line{
  font-size: 20px;
  color:#FFF;
}

.album-cover .line2{
  font-size: 14px;
}

.album-cover .line3{
  position: absolute;
  right: 20px;
  bottom: -30px;
  transition: all 0.2s;
}
.album-cover:hover .line3{
  bottom: 10px;
  transition: all 0.2s;
}

@media (min-width:992px){
  .album-cover{
    width: 250px;
    height: 250px;
  }
}

@media (min-width:1600px){
  .album-cover{
    width: 270px;
    height: 270px;
  }
}

.photo-album-title{
  font-size: 72px;
  margin-bottom: 40px;
}

.photo-album-text{
  margin-bottom: 20px;
}

.photo-album-cover .user-img{
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
  position: relative;
}

@media (max-width:992px){
  .photo-album-title{
    font-size: 36px;
  }

  .photo-album-cover .user-img{
    display: none;
  }
}

/* photo */
.link-home a,a:link,a:visited{
  text-decoration: none;
  color:#000;
}

.album-photos{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.photo-album-cover{
  position: relative;
  width: 100%;
  height: 500px;
}

.photo-album-cover img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-album-cover .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: rgba(0,0,0,0.6);
}

.photo-div{
  display: flex;
  justify-content: center;
}

.photo-cover{
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 4px;
}

.photo-cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-cover .info {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 20px;
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(11%, rgba(0, 0, 0, 0.5)), color-stop(37%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 11%, rgba(255, 255, 255, 0) 37%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 11%, rgba(255, 255, 255, 0) 37%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 11%, rgba(255, 255, 255, 0) 37%);
  transition: all 0.2s;
}
.photo-cover:hover .info{
  display: flex;
  transition: all 0.2s;
}

.photo-cover .line{
  font-size: 14px;
  color:#FFF;
}

.photo-cover .line2{
  font-size: 11px;
  color: #b6b6b6;
}

.photo-cover .line3{
  position: absolute;
  right: 20px;
  bottom: -30px;
  transition: all 0.2s;
}
.photo-cover:hover .line3{
  bottom: 10px;
  transition: all 0.2s;
}



/* footer */
footer{
  background-color: #212124;
}

.nav3{
  border-top: 1px solid #38383a;
}

.nav3 .nav-link:hover{
  color:#FFFFFF;
}

.nav3 .fa{
  font-size: 20px;
}

/* hamburger */
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0 8px 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }

.animated-icon3 span {
  background: #ffffff;
  }

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }