/* common */
.text-gray{
  color:#b8b8b8;
}

@media (min-width: 1600px){ 
  .container{
    max-width: 1500px;
  }
  .col-xl-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
  }
}

/* nav */
.nav1{
  background-color: #202023;
  height: 50px;
}

.icon-flickr_logo_dots{
  height: 50px;
  width: 110px;
}

.nav1 .navbar-nav .nav-link{
  color: #FFFFFF;
}

.fa-search{
  position: absolute;
  font-size: 16px;
  color: #535354;
  margin-left: 10px;
}

.fa-cloud-upload{
  font-size: 24px;
}

.nav1 form input{
  padding-left: 30px;
  background-color: #d0d0d1;
  font-size: 14px;
  border-radius: 3px;
}

.nav1 .navbar-nav .nav-item-1:hover .dropdown-menu{
  display: block;
}

.nav1 .navbar-nav .nav-item-2:hover .dropdown-menu{
  display: block;
}
	
.nav1 .navbar-nav .nav-item .dropdown-menu::after{
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;  
  position: absolute;
  top: -9px;
  left: 10px;
}

/* header */
header{
  height: 250px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

.img-user{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* aside */
aside{
  border-bottom: 1px solid #dcdcdc;
}

aside .active{
  font-weight: bold;
  border-bottom: 3px solid #0090DC;
}

/* section */
section{
  min-height: 60vh;
  padding-top: 30px;
}

.album-div{
  display: flex;
  justify-content: center;
}

.album-cover{
  position: relative;
  width: 200px;
  height: 200px;
}
.album-cover::before{
  content: "";
  position: absolute;
  border: 0.5px solid #c9d0d4;
  width: 98%;
  left: 0;
  right: 0;
  margin: auto;
  top: -2px;
  transition: all 0.2s;
}
.album-cover::after{
	content: "";
	position: absolute;
	border: 0.5px solid #afb7bd;
	width: 95%;
	left: 0;
	right: 0;
	margin: auto;
	top: -4px;
  transition: all 0.2s;
}
.album-cover:hover::before{
  top: -3px;
}
.album-cover:hover::after{
	top: -6px;
}

.album-cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-cover .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 20px;
  bottom: 0;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(11%, rgba(0, 0, 0, 0.8)), color-stop(37%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
  overflow: hidden;
  transition: all 0.2s;
}
.album-cover:hover .info{
  padding-bottom: 50px;
  transition: all 0.2s;
}

.album-cover .line{
  font-size: 20px;
  color:#FFF;
}

.album-cover .line2{
  font-size: 14px;
}

.album-cover .line3{
  position: absolute;
  right: 20px;
  bottom: -30px;
  transition: all 0.2s;
}
.album-cover:hover .line3{
  bottom: 10px;
  transition: all 0.2s;
}


/* footer */
footer{
  background-color: #212124;
}

.nav3{
  border-top: 1px solid #38383a;
}

.nav3 .nav-link:hover{
  color:#FFFFFF;
}

.nav3 .fa{
  font-size: 20px;
}